<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FirstVue</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
      {{message}}
    </div>
    <div id="app2">
      <span v-bind:title="message">
        Курсор наведи, текст будет в диалоговом окошке рядом
      </span>
    </div>
    <div id="app3">
      <span v-if="seen">Меня видно</span>
    </div>
    <div id="app4">
      <ol>
        <li v-for="item in items">
          {{item.text}}
        </li>
      </ol>
    </div>
    <div id="app5">
      <p>{{message}}</p>
      <button v-on:click=reverseMessage>Перевернуть сообщение</button>
    </div>
    <div id="app6">
      <p>{{message}}</p>
      <input type="text" v-model="message">
    </div>
    <script src="js/main.js"></script>
</body>
</html>